/*   Reset   */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 p,
ul,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.clear-container::before,
.clear-container::after {
  content: "";
  display: table;
  clear: both;
}

/*   Header   */
.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav li a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .menu {
    text-align: center;
  }
  a.menu-logo {
    float: none;
    margin: 0 auto;
  }
  .menu-nav {
    float: none;
    clear: both;
  }
}

/*   Intro   */

.intro {
  background: url(../img/bg-intro.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .intro {
    padding: 60px 0;
  }
}

/*   Sobre   */

.sobre {
  padding: 60px 0;
}

.sobre h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  background: #252525;
  width: 220px;
  color: #fff;
  margin: 0;
  padding: 5px 0 10px 0;
  position: relative;
  top: -25px;
}

.sobre > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .container {
    max-width: 720px;
  }
  .sobre-item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .container {
    max-width: 300px;
  }
  .sobre-item {
    width: 300px;
    margin: 0 auto;
  }
}

/*   Produtos   */

.produtos {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produto-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produto-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.produto-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  background: currentColor;
  border: 5px solid #d6d3c8;
  box-shadow: 0 0 0 5px currentColor;
}

.produto-item:nth-child(1) h2::before {
  color: #492901;
}

.produto-item:nth-child(2) h2::before {
  color: #c17139;
}

.produto-item:nth-child(3) h2::before {
  color: #d7a54d;
}

.produto-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-btn {
  width: 180px;
  border: 3px solid #252525;
  color: #252525;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produto-item {
    width: 220px;
  }
}

@media (max-width: 739px) {
  .produto-item {
    margin: 0 auto 20px auto;
  }
}

/*   locais   */

.locais {
  padding: 60px 0;
}

.locais-item {
  clear: both;
  margin: 60px auto;
}

.locais-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.locais-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locais-item p {
  font: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .locais {
    width: 720;
  }
  .locais-item > div,
  .locais-item img {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .locais {
    width: 300;
  }
  .locais-item > div,
  .locais-item img {
    width: 300px;
    margin: 0;
  }
}

/*   Assive   */

.assine {
  background: #e7e4d8;
  padding: 30px 0;
}

.assine-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.assine-info h2 {
  font-size: 2.25em;
}

.assine-info p {
  font-size: 1.5em;
  font-style: italic;
}

.assine form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.assine form label {
  display: none;
}

.assine input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, serif;
  padding: 10px;
  float: left;
  box-sizing: border-box;
}

.assine button {
  background: #252525;
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (min-width: 740px) and (max-width: 980px) {
  .assine-info,
  .assine form,
  .assine input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .assine-info,
  .assine form,
  .assine input {
    width: 300px;
    margin: 10px 0 0 0;
  }
}

/*  footer   */

.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media (max-width: 739px) {
  .footer p {
    float: none;
    margin: 0;
  }
  .footer img {
    float: none;
    margin: 10px 0;
  }
}
